.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.header {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 20px;
}

.searchLayout {
  margin-top: 20px;
}
