@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
}

html {
  height: 100%;
}

body,
#root {
  height: 100%;
  background-color: var(--grey-95);
}

body {
  font-family: Roboto, sans-serif;
}

a {
  color: var(--accent);
}
